################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App.LMS/.vs/App.LMS
/App.LMS/App.LMS/obj
/App.LMS/App.LMS/bin/Debug/net8.0
/App.LMS/Library.LMS/bin/Debug/net8.0
/App.LMS/Library.LMS/obj
/App.LMS/MAUI.LMS/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/App.LMS/MAUI.LMS/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/App.LMS/MAUI.LMS/obj
/API.LMS/.vs/API.LMS
/API.LMS/App.LMS - Copy/.vs
